@tailwind base;

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 107 12% 99.9%;
    --foreground: 107 0.6% 10%;
    --card: 107 6% 99.9%;
    --card-foreground: 107 0.6% 15%;
    --popover: 107 12% 100%;
    --popover-foreground: 107 95.6% 9.9%;
    --primary: 107 46.9% 9.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 107 12.4% 89.8%;
    --secondary-foreground: 0 0% 0%;
    --muted: 145 12.4% 94.9%;
    --muted-foreground: 107 0.6% 40%;
    --accent: 145 12.4% 89.9%;
    --accent-foreground: 107 0.6% 15%;
    --destructive: 0 56% 49.8%;
    --destructive-foreground: 107 0.6% 99.9%;
    --border: 107 21.2% 81.7%;
    --input: 107 21.2% 49.7%;
    --ring: 107 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 107, 12%, 95%;
    --sidebar-foreground: 107, 1%, 9%;
    --sidebar-primary: 107, 47%, 9%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 145, 12%, 85%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 107, 21%, 78%;
    --sidebar-ring: 97, 98%, 45%;
  }

  .dark {
    --background: 107 14.8% 10%;
    --foreground: 107 0.6% 99.9%;
    --card: 107 6% 9.9%;
    --card-foreground: 107 0.6% 99.9%;
    --popover: 107 14.8% 5%;
    --popover-foreground: 107 0.6% 99.9%;
    --primary: 107 46.9% 9.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 107 12.4% 19.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 145 12.4% 24.9%;
    --muted-foreground: 107 0.6% 65%;
    --accent: 145 12.4% 24.9%;
    --accent-foreground: 107 0.6% 95%;
    --destructive: 0 56% 49.8%;
    --destructive-foreground: 107 0.6% 99.9%;
    --border: 107 21.2% 49.7%;
    --input: 107 21.2% 49.7%;
    --ring: 107 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 107, 15%, 13%;
    --sidebar-foreground: 107, 1%, 100%;
    --sidebar-primary: 107, 47%, 8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 145, 12%, 21%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 107, 21%, 47%;
    --sidebar-ring: 97, 98%, 45%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
